.explore-menu {
  margin: 20px 0px;
}

.explore-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin: 20px 0px;
}

.explore-menu-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  transition: background-color 0.3s ease;
  border-radius: 7px;
}

.explore-menu-list-item p {
  margin: 0;
  color: #8d8c8c;
  font-size: 16px;
}

.explore-menu-list-item:hover {
  background-color: #f0f0f0;
}

.explore-menu-list-item.active {
  background-color: black;
  color: white;
}

hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

@media (max-width: 750px) {
  .explore-menu-list-item {
    padding: 8px;
  }

  .explore-menu-list-item p {
    font-size: 14px;
  }
}
